{% extends "mainApp/wrapper.html" %}

{% block content %}
    <h2 class="text-info">{{object.title}}</h2>
    <p>{{object.post|safe|linebreaks}}</p>
    <h8 class="text-info">Опубликовано: {{object.date|date:"Y-m-d в H:i:s"}}</h8>
    <h8 class="text-info">Автор: {{object.author}}</h8>
    <hr>
    <h2 class="text-info">Ответы: </h2>
    {% for comment in object.comments.all %}
    <div class="comment">
    <p>{{ comment.text|linebreaks }}</p>
    <h8 class="text-info">Опубликовано: {{comment.date|date:"Y-m-d в H:i:s"}}</h8>
    <h8 class="text-info">Автор: {{comment.author}}</h8>
    </div>
    {% empty %}
    <p>Здесь пока нет комментариев, вы можете стать первыми!</p>
    {% endfor %}
    <a class="btn btn-info" href="{% url 'add_comment_to_post' pk=object.pk %}">Оставить комментарий</a>
    <a class="btn btn-danger" href="{% url 'post_remove' pk=object.pk %}">Удалить вопрос</a>
</a>
    <p></p>
{% endblock %}
